.home-head{
  background-image: url(../assets/images/baim-hanif-pYWuOMhtc6k-unsplash.jpg);
  background-size:cover;
  background-position: center;
  height: 80vh;
  padding:5rem 10rem 7rem;
  color: white;
  animation: anime 20s  infinite ;
}
.home-parah{
  max-width: 80%;
}
.home-btn{
  color: white;
}
.home-btn:hover{
  color: red;
}

@keyframes anime {
  0%{
    background-image: url(../assets/images/baim-hanif-pYWuOMhtc6k-unsplash.jpg);

  }
  20%{
    background-image: url(../assets/images/brooke-cagle-g1Kr4Ozfoac-unsplash.jpg);

  }
  40%{
    background-image: url(../assets/images/priscilla-du-preez-XkKCui44iM0-unsplash.jpg);

  }
  60%{
    background-image: url(../assets/images/helena-lopes-PGnqT0rXWLs-unsplash.jpg);

  }
  80%{
    background-image: url(../assets/images/marvin-meyer-SYTO3xs06fU-unsplash.jpg);
  }
  100%{
    background-image: url(../assets/images/jason-goodman-Oalh2MojUuk-unsplash.jpg);

  }
}
.apply-container{
  background-color: white;
  color: black;
  position: absolute;
  border-radius: 18px;
  bottom: 15%;
  left: 25%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  padding:15px 50px 20px;
}
.apply-form-title{
  color: rgba(0, 0, 0, 0.741);
}
.apply-container input,.textArea{
  font-size: 1.3rem;
  margin:10px 0;
  border: none;
  padding:10px 20px 0 10px;
  border-bottom: 1px solid red;
  outline: none;
  width: 100%;
  box-shadow: none;

}
.apply-form-btn{
  background-color: blue;
  color: white;
  border: none;
  width: 100%;
}
.cancel-btn{
  position: absolute;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  top:0px;
  right: 10px;
}

















@media (max-width:575.98px){
  .home-head{
   padding:3rem;
  }
  .home-parah{
    max-width: 100%;
  }
}

@media (max-width:600px) {
  .apply-container{
    max-width: 300px;
    left: 10%;
    bottom: -150px;
  }
}

@media (max-width:900px){
  .apply-container{
    left: 45%;
    bottom: 100px;
  }
}