.gold{
  color: rgb(255, 179, 0);
}
.frontend-container{
  padding: 1rem 7rem;
}
.btn-container{
  padding-left: 4rem; 
  padding-bottom: 0;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.big{
  border: none;
  color: white;
  background-color:rgb(255, 179, 0);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  flex-direction:row;
  padding:5px 10px;
  font-weight:600;

}
.small{
  display: flex;
  flex-direction:row;
  align-items: center;
  border: none;
  color: white;
  background-color: rgb(6, 6, 167);
  padding: 3px 10px;
  font-weight: 600;
  font-size: .9rem;

}
.frontend-row{
  box-shadow: 3px 3px 5px hsl(240, 100%, 90%);
  padding: 10px;
}
.frontend-row li{
  /* font-weight: 500; */
  font-size: 1.2rem;
  color: hsl(0, 0%, 15%);
}

.accordion-button{
background-color: rgb(255, 179, 0);
margin-bottom: 10px;
font-weight: 700;

}
.accordion-button:focus{
 box-shadow: none;
}
.accordion-body{
  overflow: scroll;
  max-height: 200px;
}

@media (max-width:900px){
  .frontend-container{
    padding: 1rem 2rem;
  }
  .btn-container{
    padding-left:0 ;
    gap: 10px;
  }
}