.marquee{
  font-size:1.2rem ;
  padding: 0;
}
header{
  background-color: rgb(6, 6, 60);
  color: rgb(255, 255, 255);
}
.header-span{
  font-size: 1.2rem;
}
.navbar{
  background-color: rgb(175, 239, 239);
  /* overflow: hidden; */            /*it will create a issue with dropdown in nav */
}
.nav-btn{
  font-size: 1.4rem;
  font-weight: bold;
}
.nav-btn:hover{
  color: red;
}


.enquairy-container{
  background-color: white;
  position: absolute;
  max-width: 400px;
  right:10px;
  top:70px;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 1px 1px 10px hsl(0, 0%, 70%);
}
.enquairy-container input,select{
  width: 100%;
  /* border: none; */
  padding:10px 10px 5px;
  margin-bottom: 1rem;
}
.enquairy-container select{
  /* border-bottom: 3px solid rgb(24, 129, 235); */
  box-shadow: 0px 2px 3px rgb(24, 129, 235) ;
  outline: none;
}
.enquairy-head{
  padding: 0 20px;
  background-color: rgb(24, 129, 235);
  display: flex;
  color: black;
  justify-content: space-between;
  align-items: center;
}
.enquairy-head i{
  font-size: 1.4rem;
}

.enquairy-btn{
width: 100%;
border: none;
background-color: rgb(24, 129, 235);
border: none;
font-weight: bold;
padding: 5px 0;
}



/* for extra small screen like mobile*/
@media (max-width:575.98px){
  .marquee{
    padding: 0 20rem;
    /* font-size: .8rem; */
  }
  .header-span{
    font-size: 1rem;
  }
}


/* large device linke laptop and desktops*/
@media (min-width:992px)  {
  .nav-items{
    margin-left:15rem;
  }
  .nav-item{
    padding:0 25px;
  }
  .nav-btn{
    margin: 0;
  }


}

@media (max-width:600px) {
  .enquairy-container{
    top: 310px;
  }
  
}